<a href="https://colab.research.google.com/github/fereshtehdehkhoda/Example-24-Car-Automatic-or-four-cylinder-/blob/main/ya_am_ya_cyl_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# چند درصد خودروهای موجود در این نمونه، یا دنده اتوماتیک هستند و یا 4 سیلندر دارند؟

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as mt

In [ ]:
data=pd.read_csv("mtcars.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vehicle  32 non-null     object
 1   mpg      32 non-null     float64
 2   cyl      32 non-null     int64
 3   disp     32 non-null     float64
 4   hp       32 non-null     int64
 5   drat     32 non-null     float64
 6   wt       32 non-null     float64
 7   qsec     32 non-null     float64
 8   vs       32 non-null     int64
 9   am       32 non-null     int64
 10  gear     32 non-null     int64
 11  carb     32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [ ]:
df=data.loc[(data['am']==1) | (data['cyl']==4),:]
df.info()


percentage=(16/32)*100
percentage

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 0 to 31
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vehicle  16 non-null     object
 1   mpg      16 non-null     float64
 2   cyl      16 non-null     int64
 3   disp     16 non-null     float64
 4   hp       16 non-null     int64
 5   drat     16 non-null     float64
 6   wt       16 non-null     float64
 7   qsec     16 non-null     float64
 8   vs       16 non-null     int64
 9   am       16 non-null     int64
 10  gear     16 non-null     int64
 11  carb     16 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 1.6+ KB

50.0